header {
	background:#142680 ;
	color: #fafafb  ;
}

.main{
	background: #d9dded  ;
}
.color1 {
	background:  #15e31e ;
	color:#fdfffc ;
}

aside{
	background: ;
	color: ;
}
footer {
	background: ;
	color: aqua;
}